<!DOCTYPE html>
<html>
<head>
	<title>Site On Google Drive</title>
	<meta charset="utf-8" />
	<script src="http://code.angularjs.org/1.2.13/angular.min.js"></script>
	<script src="~/Scripts/GoogleDrive/main.js" ></script>
	<link rel="stylesheet" href="~/Content/GoogleDrive/main.css" />
	<link rel="stylesheet" href="~/Content/GoogleDrive/table.css" />

</head>
<body>
	<section ng-app="myApp" ng-controller="mainCtrl">
		<div ng-show="waitPassword" >
			<input type="{{inputType}}" placeholder="Put your password" ng-model="passcode"/>
			<input type="checkbox" id="checkbox" ng-model="passwordCheckbox" ng-click="hideShowPassword()" />
			<label for="checkbox" ng-if="passwordCheckbox">Hide password</label>
			<label for="checkbox" ng-if="!passwordCheckbox">Show password</label>
			<p />
			<button ng-click="okPassword()">OK</button> 
		</div>

		<div ng-hide="waitPassword">
			<!-- table -->
			<table>
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th>User Name</th>
                        <th>Password</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in viewCollection">
                        <td>{{x.id}}</td>
                        <td>{{x.user}}</td>
                        <td>
                            <input class="tablePassInput"
                                   type="{{x.passInType}}"
                                   value="{{x.pass}}"
                                   ng-focus="x.passInType = 'text'"
                                   ng-blur="x.passInType = 'password'">
                        </td>
                        <td>{{x.desc}}</td>
                    </tr>
                </tbody>
			</table>
		</div>

		<div class="debug" ng-show="false">
			<p>{{passcode}}</p>

			<p>{{tableContent}}</p>
			<p />

			<p>{{tableJson.records[0].user}}</p>

            <p />

            <p>{{viewCollection[0].user}}</p>

			<p />
		</div>

	</section>
</body>
</html>
